@model mini_store.Models.Product

<h2>Add Product</h2>

<form method="post">

    <div>
        <label>Name</label>
        <input asp-for="Name" />
    </div>

    <div>
        <label>Price</label>
        <input asp-for="Price" />
    </div>

    <div>
        <label>Image</label>
        <input asp-for="Image" />
    </div>

    <br />

    <button type="submit">Save</button>

</form>