@model mini_store.Models.Product

@{
    Layout = "_DashboardLayout";
}

<div class="container mt-4" dir="rtl">

    <h2 class="text-center mb-4">تعديل المنتج</h2>

    <form asp-action="Edit" method="post">

        <input asp-for="Id" type="hidden" />

        <div class="mb-3">
            <label>اسم المنتج</label>
            <input asp-for="Name" class="form-control" />
        </div>

        <div class="mb-3">
            <label>سعر المنتج</label>
            <input asp-for="Price" class="form-control" />
        </div>

        <div class="mb-3">
            <label>صورة المنتج</label>
            <input asp-for="Image" class="form-control" />
        </div>

        <div class="mb-3">
            <label>الفئة</label>
            <select asp-for="CategoryId" class="form-select">
                @foreach (var item in ViewBag.categories)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>

        <button type="submit" class="btn btn-success">
            Update
        </button>

        <a href="/Products" class="btn btn-secondary">
            رجوع
        </a>

    </form>

</div>